**.csv
**.xml
!congress_parser/tests/fixtures/**
**.pyc
**.zip


*.code-workspace
bills/
notebooks/
usc/
.vscode/
*.ipynb
.pytest_cache
__pycache__

**.pyc
**.egg-info/
dist/
build/
.sources/

.venv
venv