.action-target, .action-target_section {
  background-color: rgba(20, 67, 194, 0.3);
}

.action-within {
  background-color: rgba(54, 192, 20, 0.3);
}

.action-to_remove_text, .action-to_remove_section {
  background-color: rgba(255, 0, 0, 0.3);
}

.action-to_replace, .action-to_insert_text {
  background-color: rgba(20, 194, 194, 0.3) ;
}

.action-effective_date {
  background-color: rgba(168, 194, 20, 0.3);
}