@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "blueprint.scss";

.logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.usc-release-box {
    width: 400px;
}

.sidebar {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding-left: 20px;
}

.main-navbar {
    margin-bottom: 10px;
}

.main-navbar .main-navbar-group {
    width: 100%;
}

.main-navbar .button-right {
    margin-left: auto;
}

.page {
    width: 80%;
    margin-left: 10%;
}

.bill-card {
    margin-bottom: 10px;
}

.section-tree div {
    height: auto;
}
.section-tree div span {
    white-space: normal;
    cursor: pointer;
}

.link > div:first-child > span:nth-child(3) {
    cursor: pointer;
}

.search-count {
    float: left;
}

.search-pager {
    float: right;
}

.search-pager-buttons button {
    margin-left: 1px;
}

.sidebar .collapse-controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar .collapse-wrapper {
    margin-bottom: 10px;
}

.sidebar .collapse-wrapper .collapse-section {
    margin-top: 10px;
    margin-left: 20px;
}

.congress-link {
    float: right;
}

.bill-versions {
    display: inline-flex;
}

.bill-versions .bp5-breadcrumb {
    font-size: 14px;
}

.content-added {
    background-color: #cdffd8;
}

.content-removed {
    background-color: #ffdce0;
    text-decoration: line-through;
    text-decoration-color: #ff576b;
}

.content-hash {
    border-width: 2px;
    border-style: dashed;
    border-color: rgba($color: #000000, $alpha: 0.5);
    margin-left: 0px;
    padding-left: 18px;
}

.bp5-dark {
    .content-added {
        background-color: #2f8842;
    }

    .content-removed {
        background-color: #882f2f;
    }

    .content-hash {
        border-color: #fff;
    }
}

.mobile-drawer {
    display: none;
}

.bill-versions {
    height: auto;
}

.mobile,
.mobile-flex {
    display: none;
}

.about-us {
    .bp5-callout {
        margin-top: 20px;
    }

    .faq {
        li {
            margin-bottom: 10px;
        }
    }
}

@media (min-device-width: 768px) and (max-device-width: 1200px) {
    .page {
        width: 100%;
        margin: 0px;
    }

    .enrolled-button {
        display: none;
    }

    .search-sort .bp5-control-group {
        display: block;

        .bp5-html-select,
        .bp5-input-group {
            display: block;
        }

        .bp5-html-select {
            margin-bottom: 5px;
        }
    }
}

@media (max-device-width: 768px) {
    .mobile {
        display: block;
    }
    .mobile-flex {
        display: inline-flex;
    }

    .no-mobile {
        display: none !important;
    }

    .usc-release-box {
        width: auto;
    }

    .bp5-drawer.bp5-position-right {
        width: 95%;

        & > .usc-content-section {
            .usc-content-subsection,
            .usc-content-paragraph,
            .usc-content-subparagraph {
                display: none;
            }

            .usc-content-subsection:has(.content-removed),
            .usc-content-subsection:has(.content-added) {
                display: block;
            }

            .usc-content-paragraph:has(.content-removed),
            .usc-content-paragraph:has(.content-added) {
                display: block;
            }

            .usc-content-subparagraph:has(.content-removed),
            .usc-content-subparagraph:has(.content-added) {
                display: block;
            }
        }
    }

    .mobile-drawer {
        display: inline-block;
        margin-left: 0px !important;
    }

    .mobile-nav {
        .bp5-drawer .bp5-button {
            justify-content: left;
            margin-left: 10px;
            margin-top: 10px;
        }
    }

    .desktop-nav {
        display: none;
    }

    .page {
        width: 100%;
        margin: 0px;

        .sidebar {
            display: block;
            width: 100%;

            .collapse-controls {
                display: none;
            }

            .collapse-wrapper {
                display: none;
            }
        }

        .content {
            display: block;
            width: 100%;
            padding: 0px;
        }
    }

    .search-count,
    .search-pager {
        float: initial;
        display: block;
    }

    .bill-content-section {
        margin-left: 0px;
    }

    .bill-versions {
        max-width: 270px;
    }
}
