.usc-content-section {
    margin-left: 15px;
    margin-bottom: 5px;
    border-left: 1px dotted gray;
    padding-left: 10px;
}

.usc-content {
    & > .usc-content-section {
        margin-left: 0px;
        padding-left: 15px;
    }
}

#root:not(.bp5-dark) {
    .usc-content-section {
        border-color:  rgba(17, 20, 24, 0.15)
    }
}

.usc-content-continue {
    margin-left: 20px;
    margin-bottom: 0px;
    display: block;
}

.usc-content-section-display {
    font-weight: bolder;
}
