.usc-content-section {
  margin-left: 20px;
  margin-bottom: 0px;
}

.usc-content-continue {
  margin-left: 20px;
  margin-bottom: 0px;
  display: block;
}

.usc-content-section-display {
  font-weight: bolder;
}

.usc-content-added {
  background-color: #cdffd8;
}
.usc-content-removed {
  background-color: #ffdce0;
  text-decoration: line-through;
  text-decoration-color: #ff576b;
}

.usc-content-hash {
  border-width: 2px;
  border-style: dashed;
  border-color: rgba($color: #000000, $alpha: .5);
  margin-left: 0px;
  padding-left: 18px;
}