version: '3'
services:
  congress_parser_api:
    environment:
    - STAGE=prod
    - db_host=10.0.0.248:5432
    - CACHE_HEADER_TIME=0
    - CACHE_TIME=0
    - db_table=us_code_2025
    restart: unless-stopped
  congress_parser_fastapi:
    environment:
    - STAGE=prod
    - db_host=10.0.0.248:5432
    - CACHE_HEADER_TIME=0
    - CACHE_TIME=0
    - db_table=us_code_2025
    restart: unless-stopped
  congress_viewer_app:
    volumes:
    - /var/www/congress:/usr/src/app/build
    entrypoint:
    - "yarn"
    command:
    - "build"
  congress_hillstack:
    environment:
    - DATABASE_URL=postgresql://parser:parser@10.0.0.248:5432/us_code_2025
    - NEXT_PUBLIC_APP_URL=https://beta.congress.dev
    restart: unless-stopped
  congress_postgres:
    image: tianon/true
networks:
  parser:
    external:
      name: docker_parser
